<div class="container">
    <div class="col-md-12">
        <h3>{{ titleComp }}</h3>
        <div class="form-group">
            <input type="text" [(ngModel)] = "employeeUpdateData.name" placeholder="Informe seu nome" class="form-control" />
        </div>
        <div class="form-group">
            <input type="number" [(ngModel)] = "employeeUpdateData.date" placeholder="Data de registro" class="form-control" />
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg panel-body" (click) ="upEmployeeRegister()">Salvar Registro</button>
        </div>
    </div>
</div>